<div class="container">
  <h3 class="text-center">My_page</h3>
  <div class="row">
    <table>
    <%= image_tag @user.get_profile_image, size: '200x200' %>
    <%= @user.name %>
    
      <thead>
      <tr>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationship_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
        <% end %>
        <th><%= link_to "フォロー", user_followings_path(@user) %></th>
        <th><%= link_to "フォロワー", user_followers_path(@user) %></th>
        <th><%= link_to "お気に入り" , user_favorites_path(@user) %></th>
      </tr>
      </thead>
      <tbody>
         <tr>
        <td>ふォロー数</td>
        <td>フォロわー数</td>
        <td>お気に入りした数</td>
        <td><%#= render "relationships/relationship" %></td>
      </tr>
      </tbody>
     
      <% if current_user.id == @user.id %>
      
        <td><%= link_to "編集", edit_user_path(@user.id), class: "btn btn-sm btn-success" %></td>
        <% end %>
    </table>
    
  </div>
  <div class="row">
    <% @nails.each do |nail| %>
    <div class="col">
        <%= link_to nail_path(nail.id) do %>
        <%= image_tag nail.image, size: "200x200" %>
        <% end %>
      <p>コメント数 <%= nail.nail_comments.count %></p>
      <p>いいね数 <%= nail.favorites.count %></p>
    </div>
    <% end %>
  </div>
  <%= paginate @nails %>
</div>