<div class="container">
  <h3 class="text-center">My_page</h3>
  <div class="row">
    <%= image_tag @user.get_profile_image, size: '200x200', class: "rounded-circle" %>
    <%= @user.name %>
    <table class="table-list text-center text-dark">
      <tr>
        <th><%= link_to "フォロー", user_followings_path(@user) %></th>
        <th><%= link_to "フォロワー", user_followers_path(@user) %></th>
        <th><%= link_to "お気に入り" , favorites_user_path(@user) %></th>

      </tr>
      <tr>
        <td><%= @user.followings.count %></td>
        <td><%= @user.followers.count %></td>
        <td><%= @user.favorites.count %></td>
      </tr>

    </table>
    <div class="current-btn">
      <% if current_user.id == @user.id %>
      <%= link_to "アカウント編集", edit_user_path(@user.id), class: "btn btn-sm btn-success" %><br><br><br>
      <%= link_to "ログアウト",destroy_user_session_path,method: :delete,class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
    <div class="mb-3 mt-3 ">
      <% if current_user != @user %>
        <%= render 'relationships/relationship', user: @user %><br><br><br>
        <%= link_to 'DMを送る', chat_path(@user.id), class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>



  <div class="sort">
     <span><%= link_to "新着順",user_path(sort: "new_arrival_order"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "投稿順",user_path(sort: "posting_order"), class: "btn btn-sm btn-link" %></span>
      <span>|</span>
      <span><%= link_to "いいねが多い順",user_path(sort: "many_favorite"), class: "btn btn-sm btn-link" %></span>
  </div>


  <div class="row">
    <% @nail.each do |nail| %>
    <div class="col">
        <%= link_to nail_path(nail.id) do %>
        <%= image_tag nail.image, class: "nail-image" %>
        <% end %>
      <p>コメント数 <%= nail.nail_comments.count %></p>
      <p>いいね数 <%= nail.favorites.count %></p>
    </div>
    <% end %>
  </div>
  <%= paginate @nail %>
</div>