<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2 class="text-center">'<%= @content %>'の検索結果</h2>
    <table class="table">
      <thead>
        <tr>
          <th>プロフィール画像</th>
          <th>ユーザー名</th>
        </tr>
      </thead>
    <% @records.each do |user| %>
        <tbody>
        　<tr>
    　    　 <th>
             <%= link_to user_path(user.id) do %>
               <%= image_tag user.get_profile_image, size: '100x100', class: "rounded-circle" %>
             <% end %>
            </th>
            <th>
              <%= user.name %>
            </th>
          </tr>
        </tbody>
    <% end %>
    <% elsif @model == "nail" %>
    <h2 class="text-center"> '<%= @content %>'の検索結果</h2>
     <table class="table">
        <thead>
            <tr>
                <th>nail画像</th>
                <th>内容</th>
            </tr>
        </thead>
        <% @records.each do |nail| %>
        <tbody>
          <tr>
            <th>
              <%= link_to  nail_path(nail.id) do %>
                <%= image_tag nail.image, size: "200x200" %>
              <% end %>
            </th>
            <th>
              <%= nail.introduction %>
            </th>
           </tr>
        </tbody>
        <% end %>
    <% end %>
    </table>
  </div>
</div>