<div class="container text-center">
<h1>新規投稿</h1>
  <% if @nail.errors.any? %>
  <p>以下の記述が正しくありません。</p>
    <%= @nail.errors.full_messages.each do |message| %>
    <p><%= message %></p>
    <% end %>
  <% end %>
  <%= form_with model:@nail, url: nails_path, method: :post, local:true do |f| %>
  <div class="row">
    <div class="col">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.text_area :introduction,size: "50x5", placeholder: "ネイルの感想　お気に入りポイント" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit "新規投稿" %>
    </div>
  </div>
  <% end %>
</div>