<div class="container">
  <h3 class="text-center">ネイル投稿詳細一覧</h3>
  <%= image_tag @nail.user.get_profile_image, size: '100x100', class: "rounded-circle" %>
  <br>
  <%= @nail.user.name %>
    <div class="row">
      <div class="col">
        <% if @nail.image.attached? %>
          <%= image_tag @nail.image, size: "500x500" %>
          <% else %>
          <%= image_tag 'no_image', size: "200x200"  %>
        <% end %>
        
        <%= @nail.introduction %>
        <% if @nail.user == current_user %>
        <%= link_to "削除", @nail, method: :delete, class: "btn btn-sm btn-danger" %>
        <%= link_to "編集", edit_nail_path(@nail.id), class: "btn btn-sm btn-success" %>
        <% end %>
        <p>コメント数: <%= @nail.nail_comments.count %></p>
      </div>
    </div>
  <div class="row">
    <div id="comment_area">
    <% @nail.nail_comments.each do |nail_comment| %>
      <%= render 'nail_comments/comment', nail_comment: nail_comment %>
    <% end %>
    </div>
    <div class="favorite-btn">
      <%= render 'favorites/favorite-btn', nail: @nail %>
    </div>
  </div>

  <div class="comment">
    <%= render 'nail_comments/form', nail: @nail, nail_comment: @nail_comment %>
  </div>
</div>